<form class="form-horizontal" {{action "login" on="submit"}}>
    {{#if loginFailed}}
        <div class="alert alert-danger">Invalid username or password.</div>
    {{/if}}

    {{#if isSlowConnection}}
        <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
    {{/if}}

    <div class="row">
        <label class='col-xs-1 control-label'>Username</label>
        <div class='col-xs-2'>{{input class="form-control" value=username type="text"}}</div>
    </div>

    <div class="row">
        <label class='col-xs-1 control-label'>Password</label>
        <div class="col-xs-2 ">{{input class="form-control" value=password type="password"}}</div>
    </div>

    <button type="submit" class="btn btn-success" {{bind-attr disabled="isProcessing"}}>
        Log in!
    </button>
</form>