<h3>Connect with peers and improve your writing:</h3>
<div class="row">


    <div class="col-md-8">
        <ul>
            <li>Try Reviewing others Docs,</li>
            <li>Check out what people think of your work!,</li>
        </ul>
    </div>
    <div class="col-md-4">
        {{#link-to 'users.new' tagName= 'button' type="button" class="btn btn-success"}}Register{{/link-to}}
        {{#link-to 'login'  tagName= 'button' type="button" class="btn btn-info" }}Login{{/link-to}}

    </div>
</div>

